<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>HH</title>
    <link href="../css/bootstrap.css" rel="stylesheet"/>
    <link href="../css/signin.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h2>HH</h2>
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="/">Главная</a></li>

        <li><a href="/user/1">Профиль пользователя</a></li>
    <#--<li><a href="/cv?action=get&id=1">Станица просмотра резюме</a></li>-->
        <li><a href="/cv?action=list">Все резюме</a></li>
        <li><a href="/cv?action=create">Добавление резюме</a></li>
    </ul>
</div>
</body>
</html>